

nav {
  background-color: #DA7297;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.change {
  padding: 10px;
  border-radius: 20px;
 

}

button:hover,
button:focus {
  background-color: #FFB4C2;
}


.cont {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

button {
  margin: 10px;

}

.search {
   width: 400px;
 margin-top: 20px;
  padding: 10px;
  /* background-color: transparent; */
  border-radius: 25px;
  padding-left: 40px;
}

input {
  background-image: url(https://img.icons8.com/ios/30/search--v1.png);
  background-repeat: no-repeat;
  background-position: 10px;  

}

.header {
  display: flex;
justify-content: center;
}

.product {
  display: flex;
  flex-wrap: wrap;
margin-top: 40px;
}

.product-card {
  flex-grow: 1;
  flex-basis: 16%;
  padding: 2%;

}

.btn-container {

  display: flex;
  justify-content: center;
}

.info-container {
  background-color: white;
  width: 350px;
  text-align: center;
  margin-top: -10px;
   margin-left: 10px;

}

.product-info {
  font-family: "Raleway", sans-serif;
  /* text-align: center; */
}

.product-buy {
display: flex;
justify-content: center;


 }

 .btn-buy {
  padding: 4px 25px;
  background-color: #E90074;
  color: white;
  font-size: 15px;

}


h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-size: 17px;
  
}
