body {
  background-image: url(giraffe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

nav {
  background-color: #DA7297;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.change {
  padding: 10px;
  border-radius: 20px;

}

button:hover,
button:focus {
  background-color: #FFB4C2;
}
/* .container {
  display: flex;
  flex-direction: column;

} */

.cont {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;

}

.search {
   width: 400px;
 margin-top: 15px;
  padding: 10px;
  /* background-color: transparent; */
  border-radius: 25px;
  padding-left: 40px;
}

input {

  background-image: url(https://img.icons8.com/ios/30/search--v1.png);

  background-repeat: no-repeat;
  background-position: 10px;  

}

